@import "tailwindcss";

/*body*/

body {
  background-color: #FFFFFF;
  @apply text-black dark:text-white dark:bg-black font-[Inter] h-screen flex flex-col;
}

h1 {
  @apply text-4xl font-semibold my-1;
}

p{
  @apply text-[#57534E] dark:text-[#CBC8CD];
}

footer {
  @apply text-[#171717] dark:text-[rgba(230,230,230,0.5)] text-[12px] font-extralight tracking-widest mx-12 ;
}

footer ul a {
  @apply p-3 hover:text-gray-300 dark:hover:text-[rgb(230,230,230)] hover:duration-700 hover:ease-out;
}

ul {
  @apply flex;
}

li {
  @apply p-3 hover:text-gray-300 dark:hover:text-[rgb(230,230,230)] hover:duration-700 hover:ease-out cursor-pointer;
}

.group {
  @apply flex justify-start items-center w-[493px] h-[103px] bg-[#F5F5F4] p-5 dark:bg-transparent rounded-xl border-[1px] border-[rgb(209,213,219)] hover:border-r-[2px] hover:border-r-[rgba(255,255,255,0.3)] dark:border-[rgba(223,223,223,0.1)] dark:shadow-[inset_0px_-69px_100px_-102px_rgba(255,255,255,0.2)] relative;
}

.group::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  background: linear-gradient(to right,
    rgba(0,0,0,0) 0%,
    rgba(19,33,47,0.5) 82%,
    rgba(29,52,71,0.75) 100%
  );
  opacity: 0;
  transition: opacity 300ms ease-out;
  pointer-events: none;
}

.group::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  box-shadow: inset 0 0 100px rgba(255,255,255,0.1);
  mask: linear-gradient(to left, white 0%, white 5px, transparent 15px);
  opacity: 0;
  transition: opacity 300ms ease-out;
  pointer-events: none;
}

.group:hover::before,
.group:hover::after {
  opacity: 1;
}

.cardTitle {
  @apply text-[#171717] dark:text-white font-light text-[16px] mb-3 group-hover:bg-[linear-gradient(to_right,rgba(255,255,255,1)_47%,rgba(38,64,94,1)_100%)] group-hover:bg-clip-text group-hover:text-transparent transition-all hover:duration-300 hover:ease-in;
}

.cardText {
  @apply text-[#6B7280] dark:text-[rgba(255,255,255,0.8)] font-extralight text-[13px] group-hover:bg-[linear-gradient(to_right,rgba(255,255,255,0.8)_50%,rgba(125,169,219,1)_100%)] group-hover:bg-clip-text group-hover:text-transparent transition-all hover:duration-300 hover:ease-in;
}

.cardIcon {
  @apply h-[60px] mr-5;
}

.title {
  @apply text-3xl font-medium text-white;
}

.bio {
  @apply mt-2 text-xl text-[#57534E] dark:bg-gradient-to-r from-[#FFFFFF] inline-block dark:text-transparent dark:bg-clip-text;
}

.blur {
  @apply z-10 w-32 h-96 absolute ml-[1760px] rounded-full bg-[rgba(28,145,255,0.1)] blur-3xl lg:opacity-100;
}

.btn {
  @apply w-[120px] h-[30px] border-2 border-[rgba(223,223,223,0.1)] rounded-[5px] text-center mt-3 hover:opacity-60 hover:duration-150 hover:ease-out;
}


/*Switch*/
/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  /*background-color: rgb(0, 0, 0);*/
  border: 1px solid rgba(124, 124, 124, 0.7);
  border-radius: 30px;
  /*color: rgb(255, 255, 255);*/
  font-weight: 600;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  padding-left: 8px;
  transition-duration: .5s;
  @apply text-black dark:text-white bg-transparent;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button:hover {
  transition-duration: .5s;
  @apply bg-gray-200 dark:bg-[rgba(44,44,43)]
}

.button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}




/*light rays
@keyframes jumbo {
  from {
      background-position: 50% 50%, 50% 50%;
  }
  to {
      background-position: 350% 50%, 350% 50%;
  }
}

.jumbo {
  --stripes: repeating-linear-gradient(
      100deg,
      #fff 0%,
      #fff 7%,
      transparent 10%,
      transparent 12%,
      #fff 16%
  );
  --stripesDark: repeating-linear-gradient(
      100deg,
      #000 0%,
      #000 7%,
      transparent 10%,
      transparent 12%,
      #000 16%
  );
  --rainbow: repeating-linear-gradient(
      100deg,
      #60a5fa 10%,
      #e879f9 15%,
      #60a5fa 20%,
      #5eead4 25%,
      #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: invert(100%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

  pointer-events: none;
}

.jumbo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: jumbo 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

.dark .jumbo {
  background-image: var(--stripesDark), var(--rainbow);
  filter: blur(10px) opacity(50%) saturate(200%);
}
.dark .jumbo::after {
  background-image: var(--stripesDark), var(--rainbow);
}
*/